<h2>Frequently Asked Questions</h2>
<p>
  This section is a work in progress. To contribute answers, 
  tweet it to <a href="http://twitter.com/32hourstartup">@32hourstartup</a>.
</p>
<dl>
  <dt>
   What is 32 hour startup?
  </dt>
  <dd>
  32 Hour Startup is an event that tries to help you take your idea to launch within 32 hours.  </dd>
  <dt>

<dt>
Am I qualified to attend 32 hour startup?
  </dt>
  <dd>
Anyone who is interested can apply. A screening process will take place wherein best 50 applicants gets selected. </dd>
  <dt>

<dt>
I am a coder. Should I come?
  </dt>
  <dd>
 Yes,of course! coders are welcome.
  <dt>

<dt>
Will there be WiFi? Can I bring my laptop?
  </dt>
  <dd>
  Yes, there will be WiFi blanketing the venue, and high speed connectivity is available to all participants at the event. You are highly encouraged to bring your laptop, or WiFi enabled device, to better experience 32 hour startup. </dd>
  <dt>

<dt>
   What is 32 hour startup?
  </dt>
  <dd>
  32 Hour Startup is an event that tries to help you take your idea to launch within 32 hours.  </dd>
  <dt>

    What if my question is not a FAQ?
  </dt>
  <dd>
    Ask us on Twitter! Tweet a question to <a href="http://twitter.com/32hourstartup">@32hourstartup</a>, and we'll add the answer here. Or mail to <a href="mailto://sharath.balakrishnan@gmail.com">Sharath</a> He'll reply if he's not too lazy!
  </dd>
</dl>
