<h2>Frequently Asked Questions</h2>
<p>
  This section is a work in progress. To contribute answers, 
  tweet it to <a href="http://twitter.com/32hourstartup">@32hourstartup</a>.
</p>
<dl>
    <dt>
    Who all should come?
    </dt>
    <dd>
    Anyone who wants to build a product - students, geeks, entrepreneurs, designers, VCs.
    </dd>
    <dt>
    What are the registration fees?
    </dt>
    <dd>
    Rs. 500. Food will be provided on both days, and we'll make sure we get you guys unlimited caffeine :)
    </dd>
<dt>
Will there be WiFi? 
  </dt>
  <dd>
  Yes, there will be WiFi blanketing the venue, and high speed connectivity is available to all participants at the event. Bring your own laptops! </dd>
  <dt>
    What if my question is not a FAQ?
  </dt>
  <dd>
    Ask us on Twitter! Tweet a question to <a href="http://twitter.com/32hourstartup">@32hourstartup</a>, and we'll add the answer here. Or mail to <a href="mailto://sharath.balakrishnan@gmail.com">Sharath</a> He'll reply if he's not too lazy!
  </dd>
</dl>
