<h2>Event venue</h2>
<div id="venue-tabs">
  <div id="venue-chennai">
    <p class="ui-tabs-vertical-top">
    The event takes place in the <strong>Library</strong> at <strong>SSN College of Engineering</strong>, Chennai. SSN Buses will also be provided at pre-determined times. For various ways to reach SSN (via Public Transport or the SSN College Bus fleet), please check out <a href="http://tedxssn.com/bus-routes/">this page</a>. Contact Pranav Rai (9884468772) for any queries.
    </p>
    <p>There is also a special bus that starts at Central at 07:30, and passes through Central, Pallavan Salai, LIC, Royapettah Mani Kundu, Mandaveli, Adyar &amp; Thiruvanmiyur before landing up at SSN. Again, Pranav is the man for details :)
    </p>
    <p>
    Food will be provided for both days. We'll have snacks around. Accommodation - we have a few rooms reserved in the hostel (for girls and guys). Mattresses will also be available around the working area for you guys to nap on.
    </p>
    <p>
    If you have any special needs, don't hesitate to <a href="/#/contact">contact us</a>. We'll do our best to make sure we accommodate you.
    </p>
  </div>
</div>
